.text-btn {
    font-weight: 500;
    height: 50px;
    width: 140px;
    font-size: 14px;
}

.round-btn {
    background: none;
    border-radius: 100%;
}

.icon-btn {
    background: none;
    border-radius: 0;
    border: none;
    margin-top: 0.7rem !important;
    margin-bottom: 0.7rem !important;
}

.btn:hover {
    background: none;
}