@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App-body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 100vh;

  .w-p100 {
    width: 100%;
  }

  .h-p100 {
    height: 100%;
  }

  p {
    margin: 0;
  }

  .sider {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .chat-ui {
    width: calc(100% - 80px);
  }

  .overflow-auto {
    height: 100%;
    overflow: auto;
  }

  .heading {
    font-size: 20px;
    font-weight: 600;
  }

  input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 10px;
  }

  input::placeholder {
    color: #544e4e;
    font-weight: 600;
  }

  input:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .add-link {
    font-size: 16px;
  }

  .user-img {
    height: 40px;
    border-radius: 100%;
  }
}